<a routerLink="/rentals/{{ rental._id }}">
  <div class="card bwm-card">
    <img class="card-img-top" [src]="rental.image" alt="">
    <div class="card-block">
      <h6 class="card-subtitle {{ rental.category }}">{{rental.shared ? 'shared' : 'whole' }} {{ rental.category }} &#183; {{ rental.city }}</h6>
      <h4 class="card-title">{{ rental.title }}</h4>
      <p class="card-text">${{ rental.dailyRate }} per Night &#183; Free Cancelation</p>
    </div>
  </div>
</a>
